:root {
	--dark-black: #161617;
	--off-white-1: #F4F4EF;
}

@font-face {
	font-family: Poppins;
	src: url("../fonts/Poppins.ttf");
}

@font-face {
	font-family: PoppinsExtraBold;
	src: url("../fonts/PoppinsExtraBold.ttf");
}

@font-face {
	font-family: PoppinsSemiBold;
	src: url("../fonts/PoppinsSemiBold.ttf");
}

@font-face {
	font-family: Debussy;
	src: url("../fonts/debussy.ttf")
}

@font-face {
	font-family: FKScreamerSemiSlanted;
	src: url("../fonts/FKScreamerSemiSlanted.otf");
}

@font-face {
	font-family: FKScreamerUpright;
	src: url("../fonts/FKScreamerUpright.otf");
}

@font-face {
	font-family: ThunderBold;
	src: url("../fonts/Thunder-BoldLC.ttf");
}

@font-face {
	font-family: ThunderExtraBold;
	src: url("../fonts/Thunder-ExtraBoldLC.ttf");
}

@font-face {
	font-family: ThunderBlack;
	src: url("../fonts/Thunder-BlackLC.ttf");
}


html, body {
	padding: 0;
	margin: 0;
}

html {
	background-color: var(--dark-black);
}

body {
	display: flex;
	flex-direction: column;
	align-items: center;

	padding: 2rem;
}

#insta:hover, #facebook:hover, #twitter:hover {
	cursor: pointer;
}