@import "./global.css";

	/* --- Start - Header Logo --- */
	.header-logo-uncollapsed {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		margin-bottom: 1.5rem;
	}

	.header-logo-uncollapsed:hover {
		cursor: pointer;
	}

		.header-logo-image-uncollapsed {
			height: 4rem;
		}

		.header-logo-text-uncollapsed {
			font-family: PoppinsExtraBold;
			text-align: center;
			color: var(--off-white-1);
			
			white-space: nowrap;
		}
		/* --- End - Header Logo --- */
	

	/* --- Start - Header HR --- */
	.header-hr-uncollapsed {
		border: none;
		border-top: 2px solid var(--off-white-1);
		
		min-width: 800px;
		width: 100%;
		max-width: 1000px;
	}
	/* --- End - Header HR --- */


	/* --- Start - Header Navigation Bar --- */
	.header-naviagation-uncollapsed {
		font-family: PoppinsSemiBold;
		text-align: center;
		color: var(--off-white-1);

		display: flex;
		justify-content: space-between;

		position: sticky;
		top: 20px;
		margin-top: 0.5rem;
		margin-bottom: 1rem;
	
		min-width: 800px;
		width: 100%;
		max-width: 1000px;
	}
	/* --- End - Header Navigation Bar --- */
	
	.header-navigation-menu-uncollapsed {
		display: none;
	}
















	.footer {
		display: flex;
		align-items: flex-start;
		overflow: hidden;

		max-width: 1250px;
		width: 100%;
		justify-content: space-between;
		white-space: nowrap;
		/* display: none; */
	}




		/* Start - Footer Logo*/
		.footer-logos {
			display: flex;
			height: 10rem;
		}

		.footer-logos-svg {
			max-height: 10rem;
		}
		/* End - Footer Logo*/

			
				

		/* Start - Footer Our Hours */
		.footer-ourHours {
			/* padding-top: 2rem; */

			font-family: PoppinsExtraBold;
			font-size: 2.5rem;
			line-height: 3rem;
			text-align: center;
			color: var(--off-white-1);
		}
			.footer-ourHours-wrapper {
				display: flex;
				justify-content: center;
			}

				.footer-ourHours-days {
					align-items: flex-end;
					margin-right: 1rem;
				}

				.footer-ourHours-times {
					align-items: flex-start;
				}

				.footer-ourHours-days, .footer-ourHours-times {
					font-family: Poppins;
					font-size: 0.75rem;
					line-height: 1rem;
					color: var(--off-white-1);
					white-space: nowrap;

					display: flex;
					flex-direction: column;
				}
			/* End - Footer Our Hours */




		/* Start - Footer Community */
		.footer-community {
			font-family: PoppinsExtraBold;
			font-size: 2.5rem;
			text-align: center;
			line-height: 3rem;
			color: var(--off-white-1);


			display: flex;
			flex-direction: column;
			align-items: center;	

			position: relative;
		}

		.footer-community-socials-uncollapsed {
			height: 2.5rem;
		}

		.footer-community-arrow {
			height: 3rem;

			position: absolute;
			top: 2rem;
			right: 4.5rem;
		}


			.footer-community-address {
				font-family: Poppins;
				font-size: 0.75rem;
				line-height: 1rem;
				color: var(--off-white-1);

				display: flex;
				flex-direction: column;
				align-items: center;
			}
				/* End - Footer Community */


	.footer-copyright {
		font-family: Poppins;
		font-size: 0.75rem;
		color: var(--off-white-1);

		display: flex;
		justify-content: center;
		align-items: center;

		margin-top: 2rem;
		margin-bottom: 2rem;
	}